<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppURL" value="https://automatio-test.web.app/" />
    <!--<add key="AppURL" value="STAGE" />-->
    <!--<add key="AppURL" value="PROD" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
</configuration>