<div class="container">
  <h3 mat-dialog-title>Record id: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="First Name" [(ngModel)]="data.firstName" name="firstName" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Last Name" [(ngModel)]="data.lastName" name="lastName" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Address" [(ngModel)]="data.address" name="address" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="City" [(ngModel)]="data.city" name="city" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Province" [(ngModel)]="data.province" name="province" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

     <!--Contains mat-hint for characters count and has maxLengt set-->
     <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" pattern="^\d{5}(?:[-\s]\d{4})?$" placeholder="Postal Code" [(ngModel)]="data.postalCode" name="postalCode" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

       <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
    <mat-form-field color="accent">
      <input matInput #inputstate class="form-control" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" [(ngModel)]="data.phoneNumber" name="phoneNumber" maxlength="12" required >
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

         <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" pattern="^\S+@\S+$" placeholder="Email" [(ngModel)]="data.email" name="email" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

       <!--Contains mat-hint for characters count and has maxLengt set-->
       <div class="form">
        <mat-form-field color="accent">
          <input matInput #inputstate class="form-control" placeholder="Notes" [(ngModel)]="data.notes" name="notes" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
